.home {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 0;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.description_text p {
  margin: 15px 0;
  line-height: 1.8;
  text-align: justify;
}

.description_text ul,
.description_text ol {
  line-height: 1.8;
  margin: 2px 0;
  list-style-type: square;
}

.description_text li {
  margin-left: 8px;
}

/* .description_text pre {
  background: #f4f4f4;
  padding: 20px;
  margin: 20px 0;
  line-height: 2.3;
} */

.description_text h1 {
  font-size: 35px;
  font-weight: 700;
}

.description_text h2,
.description_text h3,
.description_text h4 {
  font-size: 20px;
  font-weight: 500;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
